// This is a manifest file that'll be compiled into application.js, which will include all the files
// listed below.
//
// Any JavaScript/Coffee file within this directory, lib/assets/javascripts, vendor/assets/javascripts,
// or vendor/assets/javascripts of plugins, if any, can be referenced here using a relative path.
//
// It's not advisable to add code directly here, but if you do, it'll appear at the bottom of the
// the compiled file.
//
// WARNING: THE FIRST BLANK LINE MARKS THE END OF WHAT'S TO BE PROCESSED, ANY BLANK LINE SHOULD
// GO AFTER THE REQUIRES BELOW.
//
//= require jquery
//= require jquery_ujs
//= require_tree .

<% if ENV['com.nocturnalcode.RailsAssistant'].present? %>

function WebSocketTest()
{
	if ("WebSocket" in window)
	{
		alert("WebSocket supported here!  :)\r\n\r\nBrowser: " + navigator.appName + " " + navigator.appVersion + "\r\n\r\n(based on Google sample code)");
	}
	else
	{
		// Browser doesn't support WebSocket
		alert("WebSocket NOT supported here!  :(\r\n\r\nBrowser: " + navigator.appName + " " + navigator.appVersion + "\r\n\r\n(based on Google sample code)");
	}
}


var ws;
var t;

function init()
{
	document.getElementById('updateme').innerHTML = "connecting to websocket";
	OpenWebSocket();
}

function OpenWebSocket()
{
    if ("WebSocket" in window)
	{
		ws = new WebSocket("%%WEBSOCKET_URL%%");
		ws.onopen = function()
		{
			// Web Socket is connected
			
			document.getElementById('updateme').innerHTML = "websocket is open";
			
			t=setTimeout("SendMessage()",1000);
		};
		ws.onmessage = function(evt)
		{
			document.getElementById('updateme').innerHTML = evt.data;
		};
		ws.onclose = function()
		{
			document.getElementById('updateme').innerHTML = "websocket is closed";
			OpenWebSocket();
        };
        ws.onerror = function(evt)
		{
			alert("onerror: " + evt);
		};
	}
	else
	{
		alert("Browser doesn't support WebSocket!");
	}
}

function SendMessage()
{
	if ("WebSocket" in window)
	{
		ws.send("time");
        
		t=setTimeout("SendMessage()",1000);
	}
	else
	{
		alert("Browser doesn't support WebSocket!");
	}
}

$ ->
   if ("WebSocket" in window)
   {
   		$('body').append('<div id="rails-assistant"><img src="assets/rails_assistant/icon.png"/></div>')

       ws = new WebSocket("ws://localhost:12345/service");
       ws.onopen = function()
       {
    // Web Socket is connected

       document.getElementById('updateme').innerHTML = "websocket is open";

       t=setTimeout("SendMessage()",1000);
       };
       ws.onmessage = function(evt)
       {
       		var message = evt.data;
       		if (message == "reload") {
       			window.location.reload(true);
       		} else {
       			document.getElementById('updateme').innerHTML = message;
       		}
       };
       ws.onclose = function()
       {
           //document.getElementById('updateme').innerHTML = "websocket is closed";
           OpenWebSocket();
       };
           ws.onerror = function(evt)
       {
           alert("onerror: " + evt);
       };
   }
   else
   {
       alert("Browser doesn't support WebSocket!");
   }
});

<% end %>
