<!DOCTYPE html>
<html>
<head>
  <title>RailsAssistant</title>
  <%= stylesheet_link_tag    "rails_assistant/application", :media => "all" %>
  <%= javascript_include_tag "rails_assistant/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
